bodY
{
    background-color: black;
    color: white;
}

.Tulisan_satu
{
    color:rgb(89, 226, 43);
    font-family: arial,helvetica, sans-serif;
    font-style: normal;
    text-decoration: underline;
}

.Tulisan_dua 
{
    color: orangered;
    font-style: 24px;
    font-align: italic;
    text-transform: capitalize;
    text-decoration: overline;
}
.Tulisan_tiga {
color:aqua
font-weight: bold;
font-style: oblique;
text-align: center;
text-transform: lowercase;
text-decoration: line-through;
word-spacing: 10px;
}